| Are you sure you want to reset your password?
br/
= link_to "Yes", change_password_path, :method => :get, class: "btn btn-danger"
| &nbsp; &nbsp;
= link_to "Cancel", edit_user_registration_path, class: "btn btn-default"